.markers-control {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-top: 5px;
  margin-left: 4px;
}

@media (max-width: 1024px) {
  .markers-control {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .controls-topleft {
    flex-direction: column;
  }
}

.markers-control-groups {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  display: inline-block;
  padding: 0;
  margin: 0;
}

.markers-control * {
  transition: all 0.3s ease;
  user-select: none;
}

.glass .markers-control-groups {
  background-color: rgba(255,255,255,0.1) !important;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  outline: 2px solid rgba(255,255,255,0.1);
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.markers-control-groups:focus-within {
  border-radius: 8px;
}

.markers-control-groups.retro:focus-within {
  border-radius: 16px !important;
}

.markers-control-group {
  margin: 0;
  padding: 8px;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.markers-control-items {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  flex-grow: 1;
  width: 0;
  padding: 0;
  margin: 0;
}

.retro .markers-control-items {
  position: absolute;
  background: white;
  border-radius: 8px;
  margin-top: 8px;
  border-top: none !important;
  transition: none;
}

.retroxxx .markers-control-items::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 16px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid red;
}

.markers-control *:focus-within .markers-control-items {
  max-height: 280px;
  width: 200px;
  overflow-y: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.markers-control-item {
  margin: 0;
  padding: 6px;
  display: flex;
  gap: 4px;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.markers-control-item > * {
  pointer-events: none;
}

.markers-control-item :nth-child(2) {
  flex: 1;
  padding-right: 8px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.markers-control-group, .markers-control-item {
  cursor: pointer;
}

.markers-control-group:hover, .markers-control-item:hover {
  background: rgba(0,0,0,0.1);
}





