.markers-control {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-top: 8px;
}

.markers-control > li {
  display: block;
  padding: 0;
  margin: 0;
}

.markers-control-group {
  margin: 0;
  padding: 8px;
  display: block;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.markers-control-item {
  margin: 0;
  padding: 8px;
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.markers-control-item > * {
  pointer-events: none;
}

.markers-control-item :nth-child(2) {
  flex: 1;
  padding-right: 8px;
}

.markers-control-items {
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  margin-top: 12px;
  margin-left: -8px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.markers-control-items::before {
  content: "";
  position: absolute;
  top: -8px; left: 16px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  border-top: none;
}

.markers-control > li:focus-within > ul {
  max-height: 320px;
  max-width: 320px;
  overflow: visible;
  padding: 8px;
}

.markers-control-group, .markers-control-item {
  cursor: pointer;
}

.markers-control-group:hover, .markers-control-item:hover {
  opacity: 0.6;
}
