.markers-control {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-top: 6px;
  margin-left: 4px;
}

.markers-control > ul,
.markers-control > ul > li {
  display: block;
  padding: 0;
  margin: 0;
}

.markers-control > ul {
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.markers-control ul:focus-within {
  border-radius: 8px;
}

.markers-control-group {
  margin: 0;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  display: block;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.markers-control-items {
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /*position: absolute;*/

  margin-top: 0px;
  margin-left: 0px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  transition: all 0.3s ease;

  max-height: 0;
  max-width: 50px;

  border-top: 1px solid rgba(0,0,0,0.1);
}

.markers-control-item {
  margin: 0;
  padding: 6px;
  display: flex;
  gap: 4px;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.markers-control-item > * {
  pointer-events: none;
}

.markers-control-item :nth-child(2) {
  flex: 1;
  padding-right: 8px;
}

.markers-control *:focus-within .markers-control-items {
  max-height: 320px;
  max-width: 320px;
  overflow: visible;
  padding-top: 6px;
  padding-bottom: 6px;
}

.markers-control-group, .markers-control-item {
  cursor: pointer;
}

.markers-control-group:hover, .markers-control-item:hover {
  background: #eee;
}
