.menu-control {
  position: relative;
}

.menu-control > * {
  transition: all 0.3s allow-discrete;
}

.menu-control-items {
  position: absolute;
  top: 50px;
  left: -4px;
  color: black;
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: max-content;
  display: none;
  opacity: 0;
}

.menu-control:focus-within .menu-control-items {
  display: block;
  opacity: 1;
  @starting-style { opacity: 0 }
}

.menu-control-item {
  margin: 0;
  display: flex;
  gap: 4px;
  cursor: pointer;
  padding: 6px;
  padding-left: 14px;
  padding-right: 16px;
}

.menu-control-item:hover {
  background: rgba(0,0,0,0.1);
}


.menu-control-button {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: #222;
  cursor: pointer;
  padding: 0;

  margin-top: 2px;
  margin-left: -12px;
  margin-right: -6px;

  border-radius: 50%;
}

.menu-control-button:hover {
  background-color: rgba(255,255,255,0.5);
}

.menu-control-button::before,
.menu-control-button::after,
.menu-control-button span {
  position: absolute;
  left: 11px;
  top: 19px;
  width: 18px;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  display: block;
  margin: 0;
  transition: all .2s ease-in-out;
}

.menu-control-button::before,
.menu-control-button::after {
  content: "";
}

.menu-control-button::before {
  transform: translateY(-6px);
}

.menu-control-button::after {
  transform: translateY(6px);
}

.menu-control-button span {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

.menu-control-button:focus {
  outline: none;
}

.menu-control-button:focus::before {
  transform: translateY(0) rotate(45deg);
}

.menu-control-button:focus::after {
  transform: translateY(0) rotate(-45deg);
}

.menu-control-button:focus span {
  opacity: 0;
}
