.sidebar-control {
  position: absolute;

  padding: 0;
  margin: 0;

  left: -320px;
  top: 0;

  background: white;
  color: black;

  width: 320px;
  height: 100vh;

  z-index: 10000;

  transition: all 0.3s ease;

  box-shadow: 4px 0 8px -2px rgba(0, 0, 0, 0.25);

  outline: none;
  border: none;
}

.sidebar-control:focus {
  left: 0;
}

.sidebar-content {
  padding: 1em;
}

