.sidebar-control {
  display: flex;
  flex-direction: column;
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 290px;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  color: black;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 4px 0 8px -2px rgba(0, 0, 0, 0.25);
  outline: none;
  border: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-control h1 {
  font-size: 24px;
}

.sidebar-control * {
  font-size: 18px;
}

.sidebar-control input {
  transform: scale(1.5);
  cursor: pointer;
  margin: 0 6px 0 0;
}

.sidebar-control:focus,
.sidebar-control:focus-within {
  transform: translateX(0);
}

.sidebar-content {
  padding: 0;
  flex: 1;
  overflow: auto;
}

.sidebar-items {
}

.sidebar-control-item {
  flex: 1;
  margin: 0;
  display: flex;
  gap: 4px;
  cursor: pointer;
  padding: 6px;
  padding-left: 14px;
  padding-right: 16px;
}

.sidebar-control-item:hover {
  background: rgba(0,0,0,0.1);
}

.sidebar-block {
  padding: 12px;
}

.info {
  flex-shrink: 0;
  padding: 12px;
  color: white;
  font-size: 14px;
  color: black;
  font-size: 14px;
  /*text-shadow: 0 0 3px rgba(0,0,0,0.9), 0 0 6px rgba(0,0,0,0.7), 1px 1px 2px rgba(0,0,0,1);*/
}


